.banner-bg {
  height: 100vh;
  background: url('../imgs/pexels-jack-krzysik-7753054.jpg')no-repeat fixed;
  background-position:top;
  background-size: cover;
}

.banner-bg-white {

  background: linear-gradient(to bottom, transparent 1%, rgb(255, 255, 255) 95%); 
  width: 100%;
  height: 100%;
  padding: 20px;
  
}

.banner-bg-white .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding-left: 67.96px;
}


.banner-bg-white  .name-banner, .banner-bg-white  .title-banner {
  text-shadow:0px 0px 10px rgba(0, 0, 0, 0.284);
  
}



@media screen and (max-width:800px) {
  .banner-bg-white .container {
    
    padding-left:0;
  }
}

@media screen and (max-width:670px) {
  .name-banner {
    font-size: calc(2rem - 10px);
  }

  .title-banner {
    font-size: calc(3.37rem - 10px);
  }
}

@media screen and (max-width:670px) {
  .name-banner {
    font-size: calc(2rem - 10px);
  }

  .title-banner {
    font-size: calc(3.37rem - 10px);
  }
}


@media screen and (max-width:480px) {
  .banner-bg-white .container {
    text-align: center;
  }

  .title-banner {
    line-height: 1.5;
  }
}