* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul {
  list-style:none;
}

a {
  text-decoration:none;
}

.container {
  max-width:1420px;
  margin:0 auto;
}

img {
  display:block;
}

body::-webkit-scrollbar-thumb {
  background-color:#ffffff;
  
  
}

body::-webkit-scrollbar {
  width:0px;
  background-color: #060713; 
}

html {
  scroll-behavior:smooth;
}