[data-menuToggle="inativo"] {
  display: none;
}


header {
  padding: 26px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index:9;
}



header .container {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;
  place-content: start space-between;
  gap: 60px 0px;

}

header nav {
  place-self: end;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
  gap: 10px;
}

header nav ul li {
  flex: 1;
  position:relative;
}

header nav ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: #060713;
  transition: 0.4s;
  position: absolute;
}

header nav ul li:hover::after {
  width: 100%;
}

header nav ul li:last-child::after {
  display:none;
}




header nav ul a {
  font-size: 1.12rem;
  padding: 10px 20px;
  text-align: center;
  display: block;
  color: var(--paragraph);
  position: relative;
}






@media screen and (max-width:800px) {
  [data-menu="inativo"] nav {
    display: none;
  }

  [data-menu="ativo"] nav {
    display: initial;
  }

  [data-menu="ativo"] {
    height: calc(100vh);
  }

  header nav {
    width: 100%;
    grid-column: 1 / -1;

  }

  header nav ul {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }

  header nav ul li {
    border: 1px solid var(--paragraph);
    border-radius: 5px;
    width: 100%;
  }
}